<%= form_tag(albums_path, method: :get, class: 'row mt-5 mb-3') do %>
  <div class="col-6">
    <%= text_field_tag :term, {}, placeholder: 'Nightfall in Middle Earth', class: 'form-control form-control-lg', required: true %>
  </div>
  <div class="col-2">
    <%= submit_tag 'Search', class: 'btn btn-lg btn-primary' %>
  </div>
<% end %>