<%= form_tag(albums_path, method: :get, class: 'row mt-5 mb-5') do %>
  <div class="offset-3 col-6">
    <%= text_field_tag :term, {}, placeholder: 'Search artists or albums', class: 'form-control form-control-lg', required: true %>
  </div>
<% end %>